<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medicalrehabilitation" >

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalRehabilitation"
        tools:targetApi="31" >
        <activity
            android:name=".view.SendMail"
            android:exported="false" />

        <receiver
            android:name=".Notifications"
            android:enabled="true" /> <!-- Activity, отвечающая за выбор даты следующей тренировки -->
        <activity
            android:name=".view.NextTraining"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Activity, отвечающая за главный экран -->
        <!-- android:theme="@style/SplashTheme" -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity, отвечающая за экран тренировок -->
        <activity
            android:name=".view.Training"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- Activity, отвечающая за экран отдыха -->
        <activity
            android:name=".view.Rest"
            android:exported="false"
            android:label="@string/pause"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyleDialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>