<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medicalrehabilitation">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalRehabilitation"
        tools:targetApi="31">

        <!-- Класс, отвечающий за отправку пользователю уведомлений -->
        <receiver
            android:name=".Notifications"
            android:enabled="true"
            android:exported="false" />

        <!-- Activity, отвечающая за главный экран -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity, отвечающая за экран тренировок -->
        <activity
            android:name=".Training"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- Activity, отвечающая за экран отдыха -->
        <activity
            android:name=".Rest"
            android:exported="false"
            android:label="@string/pause"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>